.CoordinateCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
.CoCounter {
    margin: 2vh;
    font-size: 5vh;
}